* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
.cuerpo {
    font-family: 'open sans';
    background-image: url(../assets/background\ image.jpg);
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* menu nav */
nav {
  background: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a {
  font-size: 20px;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}


/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  }


/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
 
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .menu li {
    padding: 15px 10px;
  }

/* -------------------------------------------------------------------------------------------------------------------- */
.grid-imgcontainer {
  display: grid;
  grid-template-columns: 150px auto 150px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-imgcontainer > * {
  grid-template-columns: repeat(3, 100px);
height: 350px;
width: 450px;
}

.grid-container {
  background-image: url(../assets/background\ image.jpg) ;
  display: grid;
  grid-template-columns: 150px auto 150px;
  font-size: 20px;
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  padding: 15px;
}

.grid-container > *{
  background-color: blue;
  border: 1px solid orangered;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header , footer{
  grid-column: 1 / span 3 ;
}

@media all and (max-width: 600px) {
aside , article {
  grid-column : 1 / span 3;
}

.grid-container {
  grid-template-rows: repeat(5, 100px);
}
}
/* -------------------------------------------------------------------------------------------------------------------- */
 /* footer */

 footer{
    width: 100%;
    background: #202020;
    color: white;  
   
  }
   
  .container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
   
  .container-body{
    display: flex;
    justify-content: space-between;
  }
   
  .colum1{
    max-width: 400px;
  }
   
  .colum1 h1{
    font-size: 22px;
  }
   
  .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
   
  .colum2{
    max-width: 400px;
   
  }
   
  .colum2 h1{
    font-size: 22px;
  }
   
  .row{
    margin-top: 20px;
    display: flex;
  }
   
  .row img{
    width: 36px;
    height: 36px;
  }
   
  .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
  }
   
  .colum3{
    max-width: 400px;
  }
   
  .colum3 h1{
    font-size: 22px;
  }
   
  .row2{
    margin-top: 20px;
    display: flex;
  }
   
  .row2 img{
    width: 36px;
    height: 36px;
  }
   
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
   
  .container-footer{
    width: 100%;  
    background: #101010;
  }
   
  .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
  }
   
  .copyright{
    color: #C7C7C7;
  }
   
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
   
  .information a{
    text-decoration: none;
    color: #C7C7C7;
  }
   
  @media(max-width: 600px){
   
    .container-body{
        flex-wrap: wrap;
    }
   
    .colum1{
        max-width: 100%;
    }
   
    .colum2,
    .colum3{
        margin-top: 40px;
    }
  }
  
/* fin de footer /*   
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/* esto pertenece a la pagina "acerca de nosotros"*/
.acercadenosotros{
      padding-right: 200px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      background-color: gray;
      margin-top: 14px;
}
.img1 {
  height: 100px;
  width: 100px;
  justify-content: space-between;
}

.img2 {
  height: 100px;
  width: 100px;
  justify-content: space-between;
}

.img3 {
  height: 100px;
  width: 100px;
  justify-content: space-between;
}

/* fin del body de "acerca de nosotros" */
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/*pagina servicios */ 

.video-job{
  position: auto;
  padding: 150px;
  background-color: darkkhaki;
}
.textservicios {
  background-color:darkgrey ;
  padding: 150px;
}
.textdark {
  padding-inline: 10px;
}
/* fin */ 
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/* portfolio */ 

.flex-container {
  display: flex;
}

.primeracaja {
padding: 100px;
text-align: center;
flex-direction: row;
}

.imagenesportfolio {
  height: 120px;
  width: 120px;
}
/* -------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/*formulario*/
body {
  background-image: url('fondo.jpg');
}

.form-register {
  width: 400px;
  background: black;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.center {
  text-align: center;
  font-weight: bolder;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid grey;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* fin del formulario */ 
/* ----------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */
/*pagina productos*/ 

.tituloproductos {
background-color: yellow;
padding: 50px;
font-size: 20px;
}
.paginaproductos {
background-color: grey;
   padding: 150px;
}

/* ----------------------------------------------------------------------------------------------------------- */
